.panel-container {
  backdrop-filter: blur(20px) saturate(200%);
  background: rgba(255, 255, 255, 0.03) !important;
  font-family: 'Outfit', 'Inter', sans-serif !important;
  border-radius: 12px !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.grafana-app {
  backdrop-filter: blur(20px) saturate(200%) !important;
  background: rgba(255, 255, 255, 0.03) !important;
  font-family: 'Outfit', 'Inter', sans-serif !important;
}
